
@{
    ViewBag.Title = "Index";
}



<h1 class="title text-center">Welcome to my e-SHOP ! ;)</h1>

<br />
<br />
<br />


<div class="heading">

    <div class="container">
        <p>
            Go to the user menu: @Html.ActionLink("User menu", "../User/Index")
        </p>
        <p>
            Go to the items menu: @Html.ActionLink("Items menu", "../Items/Index")
        </p>

   


        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
  
    </div>  
</div>


